---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Mod Garden" page="home">
  <div class="mt-5 mb-5 flex items-center justify-center">
    <div class="flex max-w-4xl flex-col space-y-6">
      <div
        class="rounded-lg bg-white p-6 text-black shadow-md dark:bg-zinc-800 dark:text-white"
      >
        <h1
          class="mb-4 border-0 border-b-4 border-leaf-200 text-xl font-bold text-black dark:text-white"
        >
          Mod Garden
        </h1>
        <div class="space-y-4">
          <p>
            We are a Minecraft Modding focused event host, focusing on providing
            events that both players and modders alike can enjoy. We have more
            of an emphasis on long standing projects.
          </p>
          <p>
            Mod Gardens are Minecraft Modding events inspired by events such as
            ModFest, operating off ModFest's "Mod, Build, Showcase" motto.
          </p>
          <p>
            Modders will come together to create mods under a specific set of
            rules within a month's timeframe, and then will be able to showcase
            their mod through a build on a server.
          </p>
          <p>
            We aim to support developers' visions as best as we can, and help
            them set up their entry to be a project for the long run if they
            wish.
          </p>
        </div>
      </div>
      <div
        class="rounded-lg bg-white p-6 text-black shadow-md dark:bg-zinc-800 dark:text-white"
      >
        <h1
          class="mb-4 border-0 border-b-4 border-leaf-200 text-xl font-bold text-black dark:text-white"
        >
          How to participate?
        </h1>
        <div class="space-y-4">
          <p>
            Joining the <a
              href="https://discord.modgarden.net/"
              class="text-leaf-600 underline hover:text-leaf-800 dark:text-leaf-200 dark:hover:text-leaf-600"
              target="_blank">Mod Garden Discord</a
            > will get you the latest information about any events being ran by the
            Mod Garden team, or you can follow on <a
              href="https://bsky.app/profile/modgarden.net"
              class="text-leaf-600 underline hover:text-leaf-800 dark:text-leaf-200 dark:hover:text-leaf-600"
              target="_blank">Bluesky</a
            > for event announcements and information.
          </p>
          <p>
            Once you join the Mod Garden Discord, you can <b>register with Mod Garden</b> by using the <b>/register</b> command through <i>GardenBot</i>.
          </p>
        </div>
      </div>
      <div
        class="rounded-lg bg-white p-6 text-black shadow-md dark:bg-zinc-800 dark:text-white">
        <h1
          class="mb-4 border-0 border-b-4 border-leaf-200 text-xl font-bold text-black dark:text-white">
          Current Event:
        </h1>
        <span class="text-black dark:text-white">
          Coming Soon! Keep your eyes open for updates.
        </span>
      </div>
    </div>
  </div>
</Layout>
