---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Mod Garden">
  <div class="mt-4 mb-4 flex items-center justify-center">
    <div class="flex max-w-4xl flex-col space-y-6">
      <div class="rounded-lg p-2 bg-white text-black dark:bg-zinc-800 dark:text-white">
        <p>TKOTU TRKHVPS WKLHFFDHFHBG</p>
      </div>
    </div>
  </div>
</Layout>
