---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Mod Garden">
  <div class="mt-4 mb-4 flex items-center justify-center">
    <div class="flex max-w-4xl flex-col space-y-6">
      <div class="rounded-lg p-2 bg-white text-black dark:bg-zinc-800 dark:text-white">
        <p>The Mod Garden Team. February 13th, 2026.</p>
        <p>Mautkarten. April 1st, 2026.</p>
        <p>Await and see, you will witness clues to Next Garden. Decode below for a treat, ROT13. I have faith in you.</p>
        <p>
          wnahnel sroehnel Znepu NCEVY ZNL WHar whyl? Jr jvyy jnvg naq frr. Habssvpvny qrpvqrq, guvf vf n snhygl snhprg.
          Naq yvxr n oebxra zveebe, guvf znl abg ersyrpg ernyvgl. Jr zhfg jnvg naq frr.
        </p>
      </div>
    </div>
  </div>
</Layout>
