---
import Layout from "../../layouts/Layout.astro";
import {
  getEvent,
  getEventProjects,
} from "../../ts/ModGardenAPI";
import type { ModGardenEvent, ResponseError } from "../../ts/ModGardenAPI";

const { event } = Astro.params;

let eventData: ModGardenEvent | ResponseError = await getEvent(event!);

if (!eventData || "error" in eventData) {
  Astro.response.status = 404;
  Astro.response.statusText = "Event not found";
}
eventData = eventData as ModGardenEvent;
const projects = await getEventProjects(eventData.id);
---

<Layout title={eventData?.display_name}>
  <div class="mt-4 mb-4 flex items-center justify-center">
    <div class="flex max-w-4xl flex-col space-y-6">
      <div class="flex flex-row space-x-4">
        <div
          class="rounded-lg bg-white p-6 text-black shadow-md dark:bg-zinc-800 dark:text-white"
        >
          <h1
            class="mb-4 border-0 border-b-4 border-leaf-200 text-xl font-bold text-black dark:text-white"
          >
            Mod Garden Presents:
          </h1>
          <div
            class="mx-auto flex w-2/3 flex-col items-center justify-center space-y-4 text-center"
          >
            <div>
              {eventData?.display_name}
            </div>
            <div>
              {eventData?.description}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
