---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";

import natureLogo from "../../icons/events/nature/logo-full.png";
import diyLogo from "../../icons/events/diy/logo-full.png";

---

<Layout title="Mod Garden Events" page="events">
  <div class="flex flex-col">
    <div
     class="mx-auto mt-4 mb-4 grid w-1/2 grid-flow-row gap-2 border-diy-600 dark:border-diy-200 border-5 rounded-xl"
    >
      <a
        class="group inline-block rounded-lg bg-white text-black shadow-md hover:bg-gray-100 dark:bg-zinc-800 dark:text-white dark:hover:bg-zinc-700"
        href={`/events/mod-garden/diy`}
        title="Mod Garden: DIY"
      >
        <div class="mx-auto flex w-2/3 flex-col items-center justify-center space-y-4 p-3 text-center">
          <div>
            <Image src={diyLogo} alt="" class="mx-auto" />
          </div>
        </div>
      </a>
    </div>
    <div
     class="mx-auto mt-4 mb-4 grid w-1/2 grid-flow-row gap-2 border-leaf-600 dark:border-leaf-200 border-5 rounded-xl"
    >
      <a
        class="group inline-block rounded-lg bg-white text-black shadow-md hover:bg-gray-100 dark:bg-zinc-800 dark:text-white dark:hover:bg-zinc-700"
        href={`/events/mod-garden/nature`}
        title="Mod Garden: Nature"
      >
        <div class="mx-auto flex w-2/3 flex-col items-center justify-center space-y-4 p-3 text-center">
          <div>
            <Image src={natureLogo} alt="" class="mx-auto" />
          </div>
        </div>
      </a>
    </div>
  </div>
</Layout>
